@model CatalogListModel
@{
    ViewData["Title"] = "CatalogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Katalog</h2>
<hr />
<div class="card">
    <div class="card-header">
       Kategoriya
    </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kategoriya adı</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody id="categories">
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <th>@item.CategoryId</th>
                        <td>@item.CategoryName</td>                   
                        <td >
                            <a asp-controller="Admin" asp-action="CatEdit" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm">Yenilə</a>
                            <a asp-controller="Admin" asp-action="CatDelete" asp-route-id="@item.CategoryId"  class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
        <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddCategory" >Yeni Kategoriya</a>
            @*@Html.Partial("_AddCategoryForm", new Category())
            @section scripts{
                <script>
                            $("#addCategory").submit(function (event) {
                                event.preventDefault();
                                var form = $(this);
                                var token = $('input[name="_RequestVerificationToken"]', form).val();
                                var data = { categoryName: $("#CategoryName").val() };
                                var dataWithToken = $.extend(data, { '_RequestVerificationToken': token });

                                $.ajax({
                                    url: form.attr("action"),
                                    type: "POST",
                                    data: dataWithToken,
                                    //beforeSend: function () {
                                    //    $("#ajax-loader").Show();
                                    //},
                                    //complete: function () {
                                    //    $("#ajax-loader").Hide();
                                    //},
                                    success: function (data) {

                                        var html = '<tr><th>' + data.CategoryId + '</th><td>' + data.categoryName + '</td><td><button class="btn btn-success btn-sm">Edit</button> <button class="btn btn-danger btn-sm">Delete</button></td></tr>'
                                        $("categories").append(html);

                                        console.log(data);
                                        $("#addCategoryModal").modal('hide');
                                    },
                                    error: function () {

                                    }

                                });
                            });
                </script>
            }*@
        </div>


    </div>
<hr />
<div class="card">
    <div class="card-header">
        Məhsul
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th scope="col">Şəkil</th>
                <th scope="col">Məhsul adı </th>
                <th>Tarix</th>
                <th scope="col">Aktiv</th>
                <th scope="col">Ana Sehife</th>
                <th ></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <th>
                        <img src="~/img/@item.Image" width="100" asp-append-version="true" />
                    </th>
                    <td>@item.ProductName</td>
                    <td>
                        <time datetime="@item.DateAdded.ToString("yyyy-MM-dd")">@item.DateAdded.ToString("dd MMMM yyyy")</time>
                    </td>
                    <td>
                        @if (item.IsActiv)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }
                    </td>
                    <td>
                        @if (item.IsHome)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }
                    </td>
                    <td >
                        <a asp-action="PrEdit" asp-controller="Admin" asp-route-id="@item.ProductId" class="btn btn-success btn-sm">Yenile</a>
                        <a asp-action="PrDelete" asp-controller="Admin" asp-route-id="@item.ProductId" class="btn btn-danger btn-sm">Sil</a>
                    </td>

                </tr>

            }

        </tbody>
    </table>
    <div class="card-footer">
        <a class="btn btn-primary"asp-controller="Admin" asp-action="AddProduct" >Yeni Məhsul</a>
    </div>


</div>

