@model AdminEditCategoryModel
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
       Kategoriyanı dəyiş
    </div>
</div>
<form asp-controller="Admin" asp-action="EditCategory" method="post" enctype="multipart/form-data">
    <div class="card-body">
        @Html.AntiForgeryToken()
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" name="CategoryId" value="CategoryId" />
        <div class="form-group">
            <label >Kategoriya</label>
            <input asp-for="CategoryName" class="form-control" />
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success">Yenilə</button>
    </div>
</form>
<hr />
<div class="card">
    <div class="card-header">
        Products
    </div>
    @if (Model.Products.Count()== 0)
    {
        <div class="alert alert-primary" role="alert">
            Mehsul yoxdur
        </div>
    }
    else
    {
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th scope="col">Image</th>
                <th scope="col">ProductName</th>

                <th scope="col">Aktiv</th>
                <th scope="col">Ana Sehife</th>
                <th style="width:135px"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>
                        <img src="~/img/@item.Image" width="70" />
                    </td>
                    <td>@item.ProductName</td>

                    <td>
                        @if (item.IsActiv)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }
                    </td>
                    <td>
                        @if (item.IsHome)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }
                    </td>
                    <td style="width:155px">
                        <form asp-action="RemoveFromCategory" asp-controller="Admin" method="post">
                            <input id="CategoryID" type="hidden" name="CategoryId" value="@Model.CategoryId" />
                            <input id="ProductId" type="hidden" name="ProductId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-danger btn sm delete">Remove</button>
                        </form>
                        <button class="btn btn-success btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm ">Delete</button>
                    </td>

                </tr>

            }

        </tbody>
    </table>
    }
    <div class="card-footer">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AddProduct">Yeni Məhsul</a>
    </div>


</div>

@section scripts{
<script>
    $(".delete").click(function (event) {
        event.preventDefault();
        var form = $(this).parent();
        var row = form.parent("td").parent("tr");
        var token = $('input[name="_RequestVerificationToken"]', form).val();
        var data = { categoryId: $("#CategoryId", form).val(), productId: $("#ProductId", form).val() };
        var dataWithToken = $.extend(data, { '_RequestVerificationToken': token });
        //console.log(dataWithToken)

        $.ajax({
            url: form.attr("action"),
            data: dataWithToken,
            type: "POST",
            beforeSend: function () {
                $("#ajax-loader").show();
            },
            complete: function () {
                $("#ajax-loader").hide();
            },
            success: function () {
                row.remove();
            },
            error: function () {

            }
        })
    });

</script>
 }